
    <div class=" breadcrumb-holder">
        <ul class="breadcrumb">
            <li class="active">DashBoard</li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Template</a>
            </li>
        </ul>
        <a href="#" class="options-toggle">
            <i class="fa fa-th"></i>
        </a>
        <a href="#" class="refresh-storage">
            <i class="fa fa-refresh"></i>
        </a>
    </div>
    <div class="options-holder closed   animated  fadeInLeft  ">
        <div class="col-md-2 col-sm-2  col-xs-4">
            <div class="thumbnail tile tile-blue">
                <a href="inbox" class="fa-links">
                    <i class="fa fa-3x fa-envelope"></i>
                    <h1>Inbox</h1>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2  col-xs-4">
            <div class="thumbnail tile tile-orange">
                <a href="form-elements" class="fa-links">
                    <i class="fa fa-3x fa fa-hdd-o"></i>
                </a>
                <h1>Forms</h1>
            </div>
        </div>
        <div class="col-md-2 col-sm-2  col-xs-4">
            <div class="thumbnail tile tile-midnight-blue">
                <a href="invoice" class="fa-links">
                    <i class="fa fa-3x fa-money"></i>
                    <h1>Invoice</h1>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2  col-xs-4">
            <div class="thumbnail tile tile-amethyst">
                <a href="profile" class="fa-links">
                    <i class="fa fa-3x fa-users"></i>
                    <h1>Users</h1>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2  col-xs-4">
            <div class="thumbnail tile tile-red">
                <a href="file-manager" class="fa-links">
                    <i class="fa fa-3x fa-file-o"></i>
                    <h1>Files</h1>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-sm-2  col-xs-4">
            <div class="thumbnail tile tile-lime">
                <a href="dropzone" class="fa-links">
                    <i class="fa fa-3x fa-cloud-upload"></i>
                    <h1>Upload</h1>
                </a>
            </div>
        </div>
    </div>
 