<nav class="navbar  navbar-default nav-delighted " style="background:rgb(89, 199, 32);" role="navigation">
    <a href="#" class="toggle-left-sidebar">
        <i class="fa fa-th-list"></i>
    </a>
    <div class="navbar-header">
        <div class="navbar-brand" >
        <%= image_tag "logo_small.png", :style=>"height: 45px !important;" %>
        </div>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right"> 
            <li>
                <%=link_to destroy_user_session_path,:method => "delete" ,:class=>"logout" do%>
                    <i class="fa fa-power-off" style="color:rgb(89, 199, 32);" ></i>
                <% end %> 
            </li>
        </ul>
    </div>
</nav>