<!-- .left-sidebar -->
<div class="left-sidebar">
  <div class="sidebar-holder">
    <!-- User   -->
    <div class="user-menu" style="text-align: left !important;">
      <%#= image_tag 'User.png' ,:class => "avatar" %>
      <%#= link_to '/admin/businesses' , :method => "get" do %>
        <div class="user-info">
          <div class="welcome">Welcome,</div>
          <div class="username"><%= current_user.fullname%></div>
        </div>
      <!--<#% end %>-->
        
    </div>
        <!-- /.User   -->

    <!-- Menu -->
    <ul class="nav  nav-list" style="text-align: left;">
      <li class=''>
        <%= link_to edit_business_business_path(current_user), :'data-original-title' =>'Businesses', :method => "get" do %>
             <i class='fa fa-home'></i>
            <span class='hidden-minibar'>Business Profile</span>
       <% end %> 
      </li>

      <li class=' '>
          <!-- <a href='portlets' data-original-title='Portlets'> -->
          <%#= link_to '/admin/stores', :method => "get" do %>
              <i class='fa fa-indent'></i>
              <span class='hidden-minibar'>Stores</span>
          <!-- <#% end %>  -->
      </li>
      <li class=' '>
       <!--   <a href='portlets' data-original-title='Portlets'>  -->
          <%= link_to business_offers_path, :method => "get" do %>
              <i class='fa fa-indent'></i>
              <span class='hidden-minibar'>Offers</span>
          <% end %>
      </li>
     <li class=' '>
     <!--   <a href='/admin/ibeacons' data-original-title='Portlets'>  -->
        <%#= link_to '/admin/ibeacons', :method => "get" do %>
            <i class='fa fa-indent'></i>
            <span class='hidden-minibar'>iBeacons</span>
       <!-- <#% end %>-->
    </li>
                    
    <li class=' '>
       <!--  <a href='portlets' data-original-title='Portlets'> -->
        <%#= link_to '/admin/setting_contents/1/edit', :method => "get" do %>
            <i class='fa fa-indent'></i>
            <span class='hidden-minibar'>Contents</span>
        <!--<#% end %>-->
    </li>
</ul>

<!-- /.Menu -->

</div>
<!-- /.left-sidebar Holder-->
</div>